/* Enter your custom styles here */
.show-less .sapMListTblSubCnt{
    display: none !important;
}
  
.Card {color: white;padding: 1rem;border-radius: 8px;box-shadow: 0 4px 8px rgba(0,0,0,0.2);margin:10px;width:33%;}
.myCardTitle {font-size: 1.2rem;font-weight: bold;color:#FFF;}
.myCardValue {font-size: 2rem;color:#fff;}
 
/* Total Head Count */
.totalHeadC {background: linear-gradient(45deg, #e7413c, #b31217) !important;color: #fff;}
 
/* Allocated Count */
.allocatedC {background: linear-gradient(45deg, #00796b, #004d40) !important;color: #fff;}
 
/* Bench Count */
.benchC  {background: linear-gradient(45deg, #f9a825, #f57f17) !important;color: #fff;}
 
/* Unallocated Bench */
.unallocatedBenchC {background: linear-gradient(45deg, #8e24aa, #5e35b1) !important;color: #fff;}
 
/* Unproductive Bench */
.unproductiveBenchC {background: linear-gradient(45deg, #5c6bc0, #303f9f) !important;color: #fff;}
 
/* Net Bench */
.netBenchC{background: linear-gradient(45deg, #f4511e, #bf360c) !important;color: #fff;}
 
/* Demands Count */
.demandsC {background: linear-gradient(45deg, #43a047, #2e7d32) !important;  color: #fff;}
 
/* Yet To Join */
.yetToJoinC {background: linear-gradient(45deg, #039be5, #0277bd) !important;color: #fff;}
 
/* Projects Ending (In 2 Weeks) */
.projectsEndingC {background: linear-gradient(45deg, #6d4c41, #4e342e) !important;color: #fff;}
 
 .sapMSplitContainerHideMode>.sapMSplitContainerDetail .sapUiResponsiveMargin, .sapUiResponsiveMargin{margin:0px !important;}
 .extraSpace {height:10px !important;}h2{ padding-left:20px  !important;}

 /* to add space before h2 page heading  */
h2{ padding-left:0px  !important;}
 
/* to reduce space between h2 heading and filter */
.sapFDynamicPageHeaderContent
{margin-top:-20px !important; width:90% !important; padding-left:20px !important;}
 
/* to reduce space between filter and table */
#container-glassboard---Home--customerDynamicPage-contentFitContainer,
#container-glassboard---Home--opportunityDynamicPage-contentFitContainer,
#container-glassboard---Home--projectDynamicPage-contentFitContainer,
#container-glassboard---Home--employeeDynamicPage-contentFitContainer,
#container-glassboard---Home--masterDemandsDynamicPage-contentFitContainer,
#container-glassboard---Home--resDynamicPage-contentFitContainer
{ margin-top:-25px !important;}

.sapUiLayoutGrid > .sapMText {width: 180px; display: inline-block;}
.customGrid .sapMText {width: 180px; display: inline-block;text-align: left;}
.customTitleStyle { font-size: 14px; /*padding-left: 30px !important;*/}
 
.sapUiSmallMargin{margin:0px !important;}
.sapUiFormResGrid>div{padding: 0.5rem 0.5rem !important;}

h4{ padding-left:0px !important;}
.sapMIBar.sapMTB.sapMTBHeader-CTX{padding-left:0em !important;}